
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #756DAF;
  }

.navbar-item {
    display: inline-block;
    float: none;
  }
  
.navbar-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
.navbar-item a:hover {
    background-color: black;
  }